#sidebar{
    padding-top: 10px;
    position: fixed;
    background-color: white;
    color: white;
    top: 74px;
    left: 0;
    bottom: 0;
    width: 250px;
    z-index: 999;
    /* display: none; */
    border-right: 1px solid #ededed;
}

.sidebar-item{
    height: 35px;
    margin-bottom: 20px;
    text-align: center;
}

.sidebar-item:hover{
     background-color: #ededed;
}

.close-btn{
   position: relative;
   top: 0;
   right: 50px;
   left: 190px;
   margin-bottom: 10px;
}
#close-btn{
    background-color: white;
    font-size: 25px;
    padding: 5px;
}
.sidebar-icon{
    display: flex;
    align-content: center;
    justify-content: center ;
    margin-top: 25px;
    font-size: 20px;
}