<html>   {% extends 'app/block.html' %}
{% load static %}
    
{% block body %}
<body>
<main>
   <div class="poster">
    <div class="poster-txt">
      <h1>FIND YOUR CAREER OPPORTUNITY</h1>
      <P>Search over 10000 top local jobs in Hyderabad.</P>
      <p>Simplify your job search with a few clicks</p>
      <div class="poster-btns">
        <button style="padding: 10px; background-color: blue;"><a style="color: white;" href="{% url 'jobs' %}">Find Jobs now</a></button>
       <button style="padding: 10px; background-color: orange;"><a style="color: white;" href="">Explore Categories</a></button>
      </div>
    </div>
    <div class="poster-img">
      <img id="po-img" src="{% static 'Poster.png' %}" alt="" srcset="">
    </div>
   </div>
</main>
<br><br>
<div class="search-btn-part">

  <form action="{% url 'jobs' %}" method="GET">
    <input id="search" type="search" name="q" placeholder="search for jobs....">
    <button id="search-btn" type="submit">Search</button>
  </form>

</div>
<footer>
   &copy;all copy rights are reserved
</footer>
</body>
</html>
{% endblock %}